
.media-link-style {
    background-color: transparent;
}

a.media-link-style:link {
    color: #000;
    text-decoration: underline;
}

a.media-link-style:hover {
    color: var(--r1649Green);
    text-decoration: none;
}

a.media-link-style:visited {
    color: var(--r1649Green);
    text-decoration: underline;
}

.media-date {
    margin-bottom: 5px;
}