.contact-page-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    /* background-color: blue; */
}

.inquiries-container {
    position: relative;
    margin-top: 2.5%;
    margin-left: 30%;
    width: 50%;
    border-top: 2px solid var(--r1649Green);
    font-size: 1rem;
}

.inquiry-title {
    padding-top: 5%;
    text-align: center;
    padding-left: 0%;
    /* font-size: 1.25em; */
}

.inquiry-text {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    text-align: left;
    /* font-size: 1em; */
}

img {
    height: 50%;
    width: 75%;
}
