
 .Homepage-container{
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
   object-fit: fill;
 }
 button{
   background-color: #3498db;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
 }


 .buttons{
   display:flex;
   justify-content: space-between;
   margin-left: 5vw;
   margin-right: 5vw;
 }

 body::-webkit-scrollbar{
   display: none;
 }

 .info{
    position: fixed;
    color: #ffffff;
    max-width: 780px;
    font-size: 1.15rem;
    font-family: serif;
    line-height: 30pt;
    padding-top: 25%;
    padding-left: 10%;
    font-weight: bold;
 }
 
.info-but{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;
    z-index: 1;

}

 .button:hover{
    background-color:rgb(172, 175, 172);
 }
 .button-text{
    color: var(--r1649Green);
 }
 

  
