
 .Wrappers{
  height: 100%;
 }

 button{
   background-color: #3498db;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
 }

 .buttons{
   display:flex;
   justify-content: space-between;
   margin-left: 5vw;
   margin-right: 5vw;
 }

