.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-gap {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forms {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  
  .label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="url"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .submit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }
  
  /* Style for the company image input */
  #companyImage {
    margin-top: 5px;
  }
  
  /* You can add more specific styles if needed */